.section-size-m{
  margin: 0 228px 0;
}

@media screen and (min-width: 1280px) and (max-width: 1439px){
  .section-size-m{
    margin: 0 148px 0;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
  .section-size-m{
    margin: 0 48px 0;
  }
}

@media screen and (min-width:769px) and (max-width: 1023px){
  .section-size-m{
    margin: 0 24px 0;
  }
}

@media screen and (max-width: 768px){
  .section-size-m{
    margin: 0;
  }
}


