.footer__links{
  font-size: 24px;
  line-height: 41px;
  vertical-align: bottom;
}

@media screen and (max-width: 375px){
  .footer__links{
    display: flex;
    flex-direction: column;
    margin-bottom: 37px;
  }
}