@import url(./__image/place__image.css);
@import url(./__paragraph-container/place__paragraph-container.css);
@import url(./__paragraph/__paragraph_text-shadow/place__paragraph_text-shadow.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__title/place__title.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__url/place__url.css);
@import url(./__website/place__website.css);

.place{
  margin: 0 auto 87px;
  display: grid;
  grid-template-areas:
      "title website"
      "image paragraph-container";
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 50px;
  vertical-align: top;
}

.place:last-of-type{
  margin-bottom: 0;
}

@media screen and (min-width:769px) and (max-width: 1024px){
  .place{
    grid-template-columns: 440px 1fr;
    column-gap: 29px;
    row-gap: 49px;
    margin: 0 auto 89px;
  }
}

@media screen and (min-width: 602px) and (max-width: 768px){
  .place{
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
    margin: 0 auto 69px;
  }
}

@media screen and (min-width:375px) and (max-width: 601px){
  .place{
    display: grid;
    grid-template-areas:
      "title"
      "image"
      "paragraph-container";
    grid-template-columns: 1fr;
    margin: 0 auto 63px;
    row-gap: 0px;
  }
}

@media screen and (max-width: 374px){
  .place{
    display: grid;
    grid-template-areas:
      "title"
      "image"
      "paragraph-container";
    grid-template-columns: 1fr;
    margin: 0 auto 57px;
    row-gap: 5px;
  }
}
